<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>Demo4</servlet-name>
        <servlet-class>test.request.Demo4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Demo4</servlet-name>
        <url-pattern>/Demo4</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Demo3</servlet-name>
        <servlet-class>test.request.Demo3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Demo3</servlet-name>
        <url-pattern>/Demo3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Demo2</servlet-name>
        <servlet-class>test.request.Demo2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Demo2</servlet-name>
        <url-pattern>/Demo2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Demo1</servlet-name>
        <servlet-class>test.request.Demo1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Demo1</servlet-name>
        <url-pattern>/Demo1</url-pattern>
    </servlet-mapping>
</web-app>